body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newEmployeeForm{
    height: 95vh;
    width: 50vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.buttonWrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}